@import '~@angular/material/theming';

// Estilizações da tela ABOUT;
$cor-fonte-tags-h1-h2-h3-h4: #212353;
$cor-fonte-tag-p: #4B5D68;
$background-gradient-first-color: #F6FAFD;
$background-gradient-second-color: #FFFFFF;
$custom-button-learn-more-background: #F063B8;
$custom-button-learn-more-font-color: white;
